<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tetris Game</title>
  <script src="assets/socket.io.js"></script>
  <script src="assets/vue-2.1.8.js"></script>
  <script src="assets/vue-socketio.js"></script>
  <link rel="stylesheet" href="assets/bootstrap-3.3.7/css/bootstrap.min.css" media="all">
</head>
<body>
  <div id="app"></div>

  <template id="app-t">
    <div class="container">
      <h2>Tetris Game</h2>

      <div>
        <p>
          Room ID:
          <code>
            <span v-if="room_id">
              <a :href="game_url">{{ room_id }}</a>
            </span>
            <span v-else>&lt; Please join a room or create one &gt;</span>
          </code>

          <span v-if="joined_room && username_set">
            Username: <code>{{ username }}</code>
          </span>
        </p>
      </div>

      <!-- join game -->
      <div class="input-group" v-if="!joined_room">
        <label for="room_id" class="input-group-addon">
          Room ID:
        </label>
        <input type="text" id="room_id" class="form-control" v-model="join_room_id">
        <span class="input-group-btn">
          <button class="btn btn-primary" @click="join_room(join_room_id)">Join Room</button>
          <button class="btn btn-success" @click="create_room">Create Room</button>
        </span>
      </div>

      <!-- set username -->
      <div class="input-group" v-if="joined_room && !username_set">
        <label for="username" class="input-group-addon">
          Username:
        </label>
        <input type="text" id="username" class="form-control" v-model="username">
        <span class="input-group-btn">
          <button class="btn btn-primary" @click="set_username(username)">Set Name</button>
        </span>
      </div>

      <div class="game-control" v-if="is_owner">
        <p>
          <button class="btn btn-primary" :disabled="!username_set" @click="start_game">Start Game</button>
          <code v-if="!username_set">Please set username first</code>
        </p>
      </div>

      <!-- gameboard -->
      <div class="game-board" v-if="board_state">
        <pre style="line-height: 10px; font-size: 10px;">{{ board_state }}</pre>
      </div>

      <!-- we only show last 8 messages -->
      <div class="messages">
        <h2>Messages</h2>

        <ul>
          <li v-for="(msg, idx) in messages" v-show="idx < 8">{{ msg }}</li>
        </ul>
      </div>
    </div>
  </template>

  <!-- vuejs app code -->
  <script src="assets/game.js"></script>
</body>
</html>
